include ./button.pug

mixin hero(tagline, title, subtitle, button, stats, location, bgImages)
  section.hero(data-bg-index='0')
    if bgImages && bgImages.length
      each bg, i in bgImages
        div.hero__bg(
          style='background-image: url(' + bg + ')'
          data-bg=i
          class=(i === 0 ? 'hero__bg--active ' : '') + 'hero__bg--' + i
        )

    .hero__content
      .hero__tagline= tagline
      p.hero__title= title
      p.hero__subtitle= subtitle
      if button
        +button(button, 'primary')

      .hero__stats-mobile
        .hero__stats
          each stat in stats
            .hero__stat
              .hero__stat-number= stat.number
              .hero__stat-label= stat.label

      .hero__location
        each titleDesk, i in location.titles
          .hero__location-title.hero__location-title--desk(
            data-bg-index=i
            class=(i === 0 ? 'hero__location-title--active' : '')
          )= titleDesk

        .hero__location-images
          each img, i in location.images
            - var deskTitle = location.titles[i] || 'локация'
            - var ariaLabel = 'Сменить фон на ' + deskTitle + ' ' + (i + 1)
            button.hero__location-btn(
              type='button'
              aria-label=ariaLabel
              data-bg-index=i
            )
              img(src=img, alt=deskTitle)

        each captionDesk, i in location.captions
          .hero__location-caption.hero__location-caption--desk(
            data-bg-index=i
            class=(i === 0 ? 'hero__location-caption--active' : '')
          )= captionDesk

      .hero__location-mobile
        .hero__location
          each titleMobi, i in location.titlesMobi
            .hero__location-title.hero__location-title--mobi(
              data-bg-index=i
              class=(i === 0 ? 'hero__location-title--active' : '')
            )= titleMobi

          .hero__location-images
            each img, i in location.images
              - var mobiTitle = location.titlesMobi[i] || 'локация'
              - var ariaLabelMobi = 'Сменить фон на ' + mobiTitle + ' ' + (i + 1)
              button.hero__location-btn(
                type='button'
                aria-label=ariaLabelMobi
                data-bg-index=i
              )
                img(src=img, alt=mobiTitle)

    .hero__stats
      each stat in stats
        .hero__stat
          .hero__stat-number= stat.number
          .hero__stat-label= stat.label